<nav class="navbar navbar-default">
	<p class="navbar-brand"><%= link_to "Minha Agenda", root_path, class: "link-logo"%></p>
	<%= link_to "Contatos", contacts_path, class: "navbar-text navbar" %>
	<%= link_to "Tipos", kinds_path,  class: "navbar-text navbar" %>
</nav>