.space{ margin: 0 0 10px 0 }; 
.form-wrapper {
  padding: 4px;
  background-color: #eee;	
}
.form-default label{
  width: 100%;
}
.form-default input{
  width: 50%;
}
.link-logo{
	color: #aaa;
	text-decoration: none;
}
.link-logo:hover{
		color: #000;
		text-decoration: none;
}
.img-background{
	width: 100%;
	margin: 0;
	border-radius: 4px; 
	margin-top: -18px;
}